* {
	margin: 0;
}
html, body {
	height: 100%;
	background-color: #0CF;
	font-size: 2em;
}
.p, .h1, .h2 {
	color:#FF0033;
}
.wrapper {
	min-height 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}
.footer, .push {
	height: 10em;
}
.table {
	font-weight:bold;
}
#foot {
	border:dashed;
	border-bottom-width:medium;
	border-top-width: medium;
	border-left-width: medium;
	border-right-width: medium;
	border-color:#0000FF;
}
