<!------->Normal CSS<-------->
* {
	margin:0px;
	padding:0px;
}
body {
	background-color:#FFFFFF;
	margin:0px;
	padding:0px;
}
#wrapper {
	width:800px;
	height:550px;
	border:1px solid #0000000;
	margin-left:auto;
	margin-right:auto;
}
#header {
	width:800px;
	height:100px;
	background-image:url(banner.JPG);
}
#navigation {
	vertical-align:top;
	width:150px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:0.75em;
	font-weight: bold;
	padding-op: 5px;
	background-color: #C6FFB3
	height:400px;
	display:inline-block;
}
#navigation ul{margin:0px; background: #005826;}
#navigation li{list-style: none; border-btoom: #C6FFB3 solid; border-top: #C6FFB3 solid; border-width: 1px;} 
#navigation a{
	color:#ffffff;
	cursor:pointer;
	padding-left: 4px;
	height:25px;
	line-height:25px;
	text-decoration:none;
	width:100%
}
#navigation a:hover{text-decoration:none;}
#navigation li:hover{background: #f90;}
#content {
	vertical-align:top;
	width:480px;
	height:400px;
	display:inline-block;
	background-color:#ffffff;
	font-size: 0px;
}
.box {	
	vertical-aligh:top;
	display:inline-block;
	width: 640px;
	height: 100px;
}
#right{
	vertical-align:top;
	display:inline-block;
	width:150px;
	height:400px;
	background-color:#005826;
}
#emptybox{
	vertical-align:top;
	display:inline-block;
	width:490px;
	height:400px;
	
}
#footer{
	background-image:url(banner.JPG)
	width:800px;
	height:50px;
}
<!------->Tablet CSS<-------->
@media screen and (min-width: 480px) and (max-width:800px) {
	#navigation a:hover